<div class="product">
    {% unless item.available %}<a href="#!" class="product--sold">Sold Out - Get notified when back in stock</a>{% endunless %}

    {% if item.tags %}
        <div class="product__badges">
        {% for tag in item.tags %}

            {% if tag=="Sale" %}
                {% assign class = "product__badge--sale" %}
            {% elsif tag=="Best seller" %}
                {% assign class = "product__badge--bestseller" %}
            {% elsif tag=="Pre-order" %}
                {% assign class = "product__badge--pre" %}
            {% else %}
                {% assign class = "" %}
            {% endif %}
            <p class="product__badge {{ class }}">{{ tag }}</p>
        {% endfor %}
        </div>
    {% endif %}

    <a href="{{ item.url }}" class="product__img">
    <img src="{{ item.featured_image.src | img_url: '328x410' }}" alt="{{ item.featured_image.alt | escape }}" class="{% unless item.available %}opacity-half{% endunless %}">
    </a>
    <a href="{{ item.url }}" class="text-12 product__title">{{ item.title }}</a>
    <div class="ratings">
    {% assign limit = item.metafields.my_fields.rating.value | split: '.' %}
    {% if limit %}
        {% for i in (1..limit[0]) %}
        {% render "icon-star" %}
        {% endfor %}
    {% endif %}
    </div>
    <p class="text-12">{{ item.price | money }}</p>
</div>