{{ 'style.account.css' | asset_url | stylesheet_tag }}

<div class="account">
  <div class="container">
    <div class="account__grid">
      <div class="account__panel">
        <h2 class="text-24 account__panel__title">My Account</h2>
        <ol class="account__nav">
          <li class="account__nav__link active"><a href="{{ routes.account_url }}">Account Overview</a></li>
          <li class="account__nav__link"><a href="{{ customer.last_order.customer_url }}">Order Details</a></li>
          <li class="account__nav__link"><a href="{{ routes.account_addresses_url }}">Address Book</a></li>
        </div>
      </ol>
      <div class="account__main account_overview">
          <h2 class="text-16">Order Details</h2>
          {% paginate customer.orders by 5 %}
          {% if customer.orders.size != 0 %}
            <div class="account_overview__orders">
              <div class="row account_overview__heading">
                <span>Order Number</span>
                <span>Date</span>
                <span>Status</span>
                <span class="row__last">Total</span>
              </div>
              {% for order in customer.orders %}
                <div class="row">
                  <a class="order_link" href="{{ order.customer_url }}">#{{ order.order_number }}</a>
                  <span>{{order.created_at | date: format: 'basic'}}</span>
                  <span>{{ order.fulfillment_status }}</span>
                  <span class="row__last">{{ order.total_price | money }}</span>
                </div>
              {% endfor %}
              <div class="pagination">
                {{ paginate | default_pagination: next: 'Next', previous: 'Previous' }}
              </div>
            </div>
          {% else %}
            <p>You haven't placed any orders yet.</p>
          {% endif %}
          {% endpaginate %}

          <div class="account__extra_info">
            <h3 class="text-16">Address Book</h3>
            <div class="addresses">
              <div class="address">
                <div class="address__title">{{ customer.name }}</div>
                {% if customer.default_address %}
                  <p class="address">{{ customer.default_address.address1 }}</p>
                  {% if customer.default_address.address2 != "" %}
                    <p>{{ customer.default_address.address2 }}</p>
                  {% endif %}
                  <p>{{ customer.default_address.city}}, {% if address.province_code %}{{ customer.default_address.province_code }}, {% endif %}{{ customer.default_address.country }}</p>
                  <p>{{ customer.default_address.zip }}</p>
                  <p>{{ customer.default_address.phone }}</p>
                {% endif %}
              </div>
            </div>
            <a href="{{ routes.account_addresses_url }}" class="account__extra_info__btn">View Addresses</a>
          </div>
      </div>
    </div>
  </div>
</div>