{{ 'style.account.css' | asset_url | stylesheet_tag }}
{{ 'style.customer.css' | asset_url | stylesheet_tag }}

<div class="account">
  <div class="container">
    <div class="account__grid">
      <div class="account__panel">
        <h2 class="text-24 account__panel__title">My Account</h2>
        <ol class="account__nav">
          <li class="account__nav__link"><a href="{{ routes.account_url }}">Account Overview</a></li>
          <li class="account__nav__link"><a href="{{ customer.last_order.customer_url }}">Order Details</a></li>
          <li class="account__nav__link active"><a href="{{ routes.account_addresses_url }}">Address Book</a></li>
        </ol>
      </div>
      <div class="account__main address_book">

        <div class="account__extra_info">
          {% paginate customer.addresses by 3 %}
          <div class="addresses">

            {% if customer.addresses.size != 0 %}
            {% for address in customer.addresses %}
              <div class="address" id="id_{{ address.id }}">
                <h2 class="text-16">
                  {% if address == customer.default_address %}
                  Default Address
                  {% else %}
                  ADDRESS {{forloop.index}}
                  {% endif %}
                </h2>

                <div class="address__title">{{ address.first_name }} {{ address.last_name }}</div>
                <p class="address">{{ address.address1 }}</p>
                {% if address.address2 != "" %}
                <p>{{ address.address2 }}</p>
                {% endif %}
                <p>{{ address.city}}, {% if address.province_code %}{{ address.province_code }}, {% endif %}{{ address.province }}</p>
                <p>{{ address.zip }}</p>

                <div class="btns">
                  <button class="edit_btn" data-target="{{address.id | handleize}}">Edit</button>
                  <span class="edit_btn__seperator">|</span>
                  <form method="post" action="/account/addresses/{{ address.id }}">
                    <input type="hidden" name="_method" value="delete">
                    <button type="submit">Delete</button>
                  </form>
                </div>

                {% form 'customer_address', address, class: "edit_form form" %}
                <div class="edit_form__inner">
                  {{ form.errors | default_errors }}
                  <div class="double_row">
                    <label class="form__label" for="first_name">
                      <input class="form__input" type="text" name="address[first_name]" size="30" value="{{ address.first_name }}" required />
                      <span>First Name</span>
                    </label>
                    <label class="form__label" for="last_name">
                      <input class="form__input" type="text" name="address[last_name]" size="30" value="{{ address.last_name }}" required />
                      <span>Last Name</span>
                    </label>
                  </div>
                  <label class="form__label" for="email">
                    <input class="form__input" type="text" value="{{ address.address1 }}" name="address[address1]" size="30" required />
                    <span>Address 1</span>
                  </label>
                  <label class="form__label" for="email">
                    <input class="form__input" type="text" value="{{ address.address2 }}" name="address[address2]" size="30" required />
                    <span>Address 2</span>
                  </label>
                  <div class="double_row">
                    <label class="form__label" for="first_name">
                      <input class="form__input" type="text" value="{{ form.city }}" name="address[city]" size="30" required />
                      <span>City</span>
                    </label>
                    <label class="form__label" for="last_name">
                      <input class="form__input" type="text" name="address[province]" size="30" value="{{ address.province }}" required />
                      <span>State</span>
                    </label>
                  </div>
                  <input class="d-none" type="hidden" value="United States" name="address[country]" size="30" required />
                  <div class="d-flex">
                    <input type="submit" class="btn btn--black" value="Confirm edit" />
                    <p class="cancel_edit" data-target="{{address.id | handleize}}">Cancel edit</p>
                  </div>
                </div>
                {% endform %}

              </div>

            {% endfor %}
            {% else %}
            <p>You don't have any addresses yet.</p>
            {% endif %}
            
          </div>
          <div class="pagination">
            {{ paginate | default_pagination: next: 'Next', previous: 'Previous' }}
          </div>
          {% endpaginate %}
          <div class="btn btn--black" id="add_new_address">Add New Address</div>
        </div>
      </div>
      <div class="account__main add_address d-none">
        <h2 class="text-16">Add New Address</h2>
        {% form 'customer_address', customer.new_address, class: "form" %}

        {{ form.errors | default_errors }}
        <div class="double_row">
          <label class="form__label" for="first_name">
            <input class="form__input" type="text" name="address[first_name]" size="30" required />
            <span>First Name</span>
          </label>
          <label class="form__label" for="last_name">
            <input class="form__input" type="text" name="address[last_name]" size="30" required />
            <span>Last Name</span>
          </label>
        </div>
        <label class="form__label" for="email">
          <input class="form__input" type="text" value="" name="address[address1]" size="30" required />
          <span>Address 1</span>
        </label>
        <label class="form__label" for="email">
          <input class="form__input" type="text" value="" name="address[address2]" size="30" required />
          <span>Address 2</span>
        </label>
        <div class="double_row">
          <label class="form__label" for="first_name">
            <input class="form__input" type="text" value="{{ form.city }}" name="address[city]" size="30" required />
            <span>City</span>
          </label>
          <label class="form__label" for="last_name">
            <input class="form__input" type="text" name="address[province]" size="30" required />
            <span>State</span>
          </label>
        </div>
        <input class="d-none" type="hidden" value="United States" name="address[country]" size="30" required />

        <div class="d-flex">
          <input type="submit" class="btn btn--black" value="Add New Address" />
          <p id="cancel_address">Cancel</p>
        </div>

        {% endform %}

      </div>

    </div>
  </div>
</div>

<script>
  document.querySelector("#add_new_address").addEventListener("click", e => {
    document.querySelector(".address_book").classList.add("d-none")
    document.querySelector(".add_address").classList.remove("d-none")
  })
  document.querySelector("#cancel_address").addEventListener("click", e => {
    document.querySelector(".address_book").classList.remove("d-none")
    document.querySelector(".add_address").classList.add("d-none")
  })
  document.querySelector(".addresses").addEventListener("click", e=>{
    if(e.target.classList.contains("edit_btn")){
      let parent = document.querySelector(`#id_${e.target.getAttribute("data-target")}`)
      parent.querySelector(`.edit_form`).classList.add("active")
    }else if(e.target.classList.contains("cancel_edit")){
      let parent = document.querySelector(`#id_${e.target.getAttribute("data-target")}`)
      parent.querySelector(`.edit_form`).classList.remove("active")
    }
  })
</script>
<script src="{{ 'script.customer.js' | asset_url }}" defer></script>
