{{ 'style.account.css' | asset_url | stylesheet_tag }}

<div class="account">
  <div class="container">
    <div class="account__grid">
      <div class="account__panel">
        <h2 class="text-24 account__panel__title">My Account</h2>
        <ol class="account__nav">
          <li class="account__nav__link"><a href="{{ routes.account_url }}">Account Overview</a></li>
          <li class="account__nav__link active"><a href="{{ customer.last_order.customer_url }}">Order Details</a></li>
          <li class="account__nav__link"><a href="{{ routes.account_addresses_url }}">Address Book</a></li>
        
        </div>
      </ol>
      <div class="account__main order_details">
          <h2 class="text-16">Order Details</h2>
          {% paginate customer.orders by 10 %}
          {% if customer.orders.size != 0 %}
            <div class="account_overview__orders">
              <p class="text-16 text-normal">Order #{{ order.order_number }}</p>
              <div class="row order_details__heading">
                <span>Product</span>
                <span>Quantity</span>
                <span>Total</span>
              </div>
              {% for line_item in order.line_items %}
                <div class="row order">
                  <div class="order__left">
                    <a class="order__img" href="{{ line_item.url }}"><img src="{{line_item | image_url: width: 120, height: 152}}" alt="{{ line_item.title }}"></a>
                    <div class="order_info">
                      <h3 class="order__title">{{ line_item.product.title | link_to: line_item.product.url }}</h3>
                      {% unless line_item.product.has_only_default_variant %}
                        <ul class="order__options">
                          {% for option in line_item.options_with_values %}
                            <li class="order__option">{{ option.value }}</li>
                          {% endfor %}
                        </ul>
                      {% endunless %}
                    </div>
                  </div>
                  <div class="order__qty">{{ line_item.quantity }}</div>
                  <div class="order__price">{{ line_item.line_price | money }}</div>
                </div>
              {% endfor %}
              <div class="order__summary">
                <div class="order_summary__item">
                  <p>Total</p>
                  <p>{{order.total_price | money}}</p>
                </div>
                <div class="order_summary__item">
                  <p>Shipping</p>
                  <p>{{order.shipping_price | money}}</p>
                </div>
                <div class="order_summary__item">
                  <p>Tax</p>
                  <p>{{order.tax_price | money}}</p>
                </div>
                <div class="order_summary__item order_summary__item--subtotal">
                  <p class="text-16">Subtotal</p>
                  <p>{{order.subtotal_price | money}}</p>
                </div>
              </div>
              <div class="pagination">
                {{ paginate | default_pagination: next: 'Next', previous: 'Previous' }}
              </div>
            </div>
          {% else %}
            <p>You haven't placed any orders yet.</p>
          {% endif %}
          {% endpaginate %}

          <div class="account__extra_info">
            <div class="addresses">
              <div class="address">
                <div class="address__title">Billing address</div>
                <p class="order_status"><span>Payment Status:</span> <span class="status_{{ order.financial_status }}">{{ order.financial_status }}</span></p>
                <p>{{ order.billing_address.name }}</p>
                <p>{{ order.billing_address.street }}</p>
                <p>{{ order.billing_address.company }}</p>
                <p>
                  {% if order.billing_address.city %}
                    {{ order.billing_address.city }}
                  {% endif %}
                  {% if order.billing_address.province %}
                    , {{ order.billing_address.province }}
                  {% endif %}
                  {% if order.billing_address.zip %}
                    , {{ order.billing_address.zip }}
                  {% endif %}
                </p>
                <!-- <p>{{ order.billing_address.country }} </p> -->
                <!-- <p>{{ order.billing_address.phone }}</p> -->
              </div>
              <div class="address">
                <h2 class="address__title">Shipping Address</h2>
                <p class="order_status"><span>Fulfillment Status:</span><span class="status_{{ order.fulfillment_status }}">{{ order.fulfillment_status }}</span></p>
                <p>{{ order.shipping_address.name }}</p>
                <p>{{ order.shipping_address.street }}</p>
                <p>{{ order.shipping_address.company }}</p>
                <p>
                  {% if order.shipping_address.city %}
                    {{ order.shipping_address.city }}
                  {% endif %}
                  {% if order.shipping_address.province %}
                    , {{ order.shipping_address.province }}
                  {% endif %}
                  {% if order.shipping_address.zip %}
                    , {{ order.shipping_address.zip }}
                  {% endif %}
                </p>
                <!-- <p>{{ order.shipping_address.country }} </p> -->
                <!-- <p>{{ order.shipping_address.phone }}</p> -->
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
   <!-- <div class="address__title">{{ customer.name }}</div>
                {% if customer.default_address %}
                  <p class="address">{{ customer.default_address.address1 }}</p>
                  {% if customer.default_address.address2 != "" %}
                    <p>{{ customer.default_address.address2 }}</p>
                  {% endif %}
                  <p>{{ customer.default_address.city}}, {% if address.province_code %}{{ customer.default_address.province_code }}, {% endif %}{{ customer.default_address.country }}</p>
                  <p>{{ customer.default_address.zip }}</p>
                  <p>{{ customer.default_address.phone }}</p>
                {% endif %} -->