<div class="container">
  <div class="clp_hero">
    <div class="clp_hero__left">
        <p class="text-12">{{ collection.metafields.accentuate.eyebrow }}</p>
        <h2 class="clp_hero__title">{{ collection.metafields.accentuate.title }}</h2>
        <a class="btn btn--secondary" href="{{ collection.metafields.accentuate.cta_url }}" class="btn">{{ collection.metafields.accentuate.cta_label }} {% render "icon-right-arrow" %}</a>
    </div>
    <div class="clp_hero_right">
        <img class="clp_hero__img1" src="{{ collection.metafields.accentuate.image_1[0].cloudinary_src | append: 'w_570,h_790' }}" alt="image 1">
        <img class="clp_hero__img2" src="{{ collection.metafields.accentuate.image_2[0].cloudinary_src | append: 'w_304,h_359' }}" alt="image 2">
    </div>
  </div>
</div>

{% schema %}
{
  "name": "clp hero section",
  "class": "clp"
}
{% endschema %}