{{ 'style.footer.css' | asset_url | stylesheet_tag }}

<footer>
    <div class="container">
        <div class="footer__inner">
            {% form 'customer', class: "footer__form" %}
                <h3 class="footer__link__title">{{ section.settings.footer_link_title_news }}</h3>
                <div class="footer__input__wrapper">
                    <input 
                      type="email" 
                      class="footer__input" 
                      name="contact[email]"
                      id="email" 
                      placeholder="Enter your email" 
                      value="{{ form.email }}" 
                      aria-required="true">
                    <button type="submit" class="footer__btn">{% render "icon-right-arrow" %}</button>
                </div>
                <div class="footer__social">
                  {% for item in section.blocks %}
                    {% if item.type == "socials" %}
                      <a href="{{item.settings.link1}}"><img src="{{item.settings.link1_src | image_url: width: 16}}" alt="social-icon"></a>
                      <a href="{{item.settings.link2}}"><img src="{{item.settings.link2_src | image_url: width: 16}}" alt="social-icon"></a>
                      <a href="{{item.settings.link3}}"><img src="{{item.settings.link3_src | image_url: width: 16}}" alt="social-icon"></a>
                    {% endif %}
                  {% endfor %}
                </div>
            {% endform %}
            <div class="footer__row">
              {% for item in section.blocks %}
                {% if item.type == "l_list" %}
                  <ul class="footer__links">
                      <h3 class="footer__link__title">{{ item.settings.l_list.title }}</h3>
                      {% for link in item.settings.l_list.links %}
                      <li><a href="{{ link.url }}" class="footer__link">{{ link.title }}</a></li>
                      {% endfor %}
                  </ul>
                {% endif %}
              {% endfor %}
            </div>

        </div>
        <p class="copyright">{{ section.settings.copyright }}</p>
        <img class="AF_logo" src="{%- if section.settings.icon_AF != blank -%}{{ section.settings.icon_AF | image_url}}{%- endif -%}" />
    </div>
</footer>

{% schema %}
{
  "name": "Footer settings",
  "settings": [
    {
        "type": "text",
        "id": "footer_link_title_news",
        "label": "Footer 1st link title change",
        "default": "Newsletter"
    },
    {
      "type": "text",
      "id": "copyright",
      "label": "Footer copyright change",
      "default": "©2020 Again Faster. All Rights Reserved"
    },
    {
      "type": "image_picker",
      "id": "icon_AF",
      "label": "AF logo img"
    }
  ],
  "blocks": [
    {
      "name": "Social media links",
      "type": "socials",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "link1_src",
          "label": "Link 1 icon" 
        },
        {
          "type": "url",
          "id": "link1",
          "label": "Link 1" 
        },
        {
          "type": "image_picker",
          "id": "link2_src",
          "label": "Link 2 icon" 
        },
        {
          "type": "url",
          "id": "link2",
          "label": "Link 2" 
        },
        {
          "type": "image_picker",
          "id": "link3_src",
          "label": "Link 3 icon"
        },
        {
          "type": "url",
          "id": "link3",
          "label": "Link 3"
        }
      ]
    },
    {
      "name": "Link list",
      "type": "l_list",
      "settings": [
        {
          "type": "link_list",
          "id": "l_list",
          "label": "Link list"
        }
      ]
    }   
  ],
  "presets": [
    {
      "name": "Footer",
      "settings": {
      },
      "blocks": [
        {
           "type": "socials"
        },
        {
            "type": "l_list"
        },
        {
            "type": "l_list"
        }
      ]
    }
  ]
}
{% endschema %}