<footer>
    <div class="container">
        <div class="footer__inner">
            {% form 'customer', class: "footer__form" %}
                <h3 class="footer__link__title">{{ section.settings.footer_link_title_news }}</h3>
                <div class="footer__input__wrapper">
                    <input 
                      type="email" 
                      class="footer__input" 
                      name="contact[email]"
                      id="email" 
                      placeholder="Enter your email" 
                      value="{{ form.email }}" 
                      aria-required="true">
                    <button type="submit" class="footer__btn">{% render "icon-right-arrow" %}</button>
                </div>
                <div class="footer__social">
                  {% for item in section.blocks %}
                    {% if item.type == "fb" %}
                      <a href="{{item.settings.fb_link}}">{% render "icon-facebook" %}</a>
                    {% endif %}
                    {% if item.type == "ig" %}
                      <a href="{{item.settings.ig_link}}">{% render "icon-instagram" %}</a>
                    {% endif %}
                    {% if item.type == "ml" %}
                      <a href="{{item.settings.mail_link}}">{% render "icon-mail" %}</a>
                    {% endif %}
                  {% endfor %}
                </div>
            {% endform %}
            <div class="footer__row">
              {% for item in section.blocks %}
                {% if item.type == "l_list" %}
                  <ul class="footer__links">
                      <h3 class="footer__link__title">{{ item.settings.l_list.title }}</h3>
                      {% for link in item.settings.l_list.links %}
                      <li><a href="{{ link.url }}" class="footer__link">{{ link.title }}</a></li>
                      {% endfor %}
                  </ul>
                {% endif %}
              {% endfor %}
            </div>

        </div>
        <p class="copyright">{{ section.settings.copyright }}</p>
        <img class="AF_logo" src="{%- if section.settings.icon_AF != blank -%} 
          {{ section.settings.icon_AF | image_url}} 
          {%- else -%} {{ 'icon-AF.svg' | asset_url}} 
        {%- endif -%}" />
    </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
        "type": "text",
        "id": "footer_link_title_news",
        "label": "Footer 1st link title change",
        "default": "Newsletter"
    },
    {
      "type": "text",
      "id": "copyright",
      "label": "Footer copyright change",
      "default": "©2020 Again Faster. All Rights Reserved"
    },
    {
      "type": "image_picker",
      "id": "icon_AF",
      "label": "AF logo img"
    }
  ],
  "blocks": [
    {
      "name": "Social media link 1",
      "type": "fb",
      "settings": [
        {
          "type": "url",
          "id": "fb_link",
          "label": "Facebook account link"
        }
      ]
    },
    {
      "name": "Social media link 2",
      "type": "ig",
      "settings": [
        {
          "type": "url",
          "id": "ig_link",
          "label": "Instagram account link"
        }
      ]
    },
    {
      "name": "Social media link 3",
      "type": "ml",
      "settings": [
        {
          "type": "url",
          "id": "mail_link",
          "label": "Email link"
        }
      ]
    },
    {
      "name": "Link list",
      "type": "l_list",
      "settings": [
        {
          "type": "link_list",
          "id": "l_list",
          "label": "Link list"
        }
      ]
    }   
  ],
  "presets": [
    {
      "name": "Footer social links",
      "settings": {
      },
      "blocks": [
        {
          "type": "fb"
        },
        {
          "type": "ig"
        },
        {
          "type": "ml"
        }
      ]
    }
  ]
}
{% endschema %}