{{ 'style.index-header.css' | asset_url | stylesheet_tag }}
<style>
header {
  background:{%- if section.settings.hero__bg != blank -%} url(" {{ section.settings.hero__bg | image_url }} ") no-repeat center center /cover {% else %} {{ section.settings.hero_bg_color }} {%- endif -%}; 
}
</style>
<header>
  <div class="container">
    <div class="hero">
      <h1 class="hero__title">{{ section.settings.hero__title }}</h1>
      <div class="hero__text">{{ section.settings.hero__text }}</div>
      <a class="btn" href="{{ section.settings.hero__btn__url }}">{{ section.settings.hero__btn }} {% render "icon-right-arrow" %}</a>
    </div>
  </div>
</header>

{% schema %}
{
  "name": "Hero section",
  "settings": [
    {
      "type": "color_background",
      "id": "hero_bg_color",
      "label": "Hero background color",
      "default": "linear-gradient(grey, #000000)"
    },
    {
      "type": "image_picker",
      "id": "hero__bg",
      "label": "Hero img change"
    },
    {
      "type": "text",
      "id": "hero__title",
      "label": "Hero title change",
      "default": "Team barbell"
    },
    {
      "type": "richtext",
      "id": "hero__text",
      "label": "Hero text change",
      "default": "<p>Team Barbell was to design a piece of equipment that matches the performance and quality of other elite level competition bars.</p>"
    },
    {
      "type": "text",
      "id": "hero__btn",
      "label": "Hero button text change",
      "default": "Explore"
    },
    {
      "type": "url",
      "id": "hero__btn__url",
      "label": "Hero button url change"
    }    
  ]

}
{% endschema %}