{{ 'style.index-bestseller.css' | asset_url | stylesheet_tag }}
{% style %}
  {% unless section.settings.right %}
    .bestseller__right__img {
      background: {{ section.settings.right_bg }};
      max-width: 46.2rem;
      height: 62.8rem;
      width: 100%;
    }
  {% endunless %}
  {% unless section.settings.left %}
    .bestseller__left{
      max-width: 82.7rem;
      height: 102.4rem;
      width: 100%;
      background: {{ section.settings.left_bg }};
    }
  {% endunless %}
{% endstyle %}

  <div class="container-fluid">
    <div class="bestseller__inner">
        <div class="bestseller__left">
          {%- if section.settings.left != blank -%}
            <img src=" {{ section.settings.left | image_url: height: 1024 }}" />
          {%- endif -%}
        </div>
        <div class="bestseller__right">
            <div class="bestseller__right__inner">
              <div class="bestseller__right__img">
                {%- if section.settings.right != blank -%} 
                  <img src="{{ section.settings.right | image_url: height: 628 }}" />
                {%- endif -%}
              </div>
              <div class="text-12 bestseller__subtitle">{{ section.settings.subtitle }}</div>
              <h2 class="text-24 bestseller__title">{{ section.settings.title }}</h2>
              <p class="bestseller__text">{{ section.settings.text }}</p>
              <a href="{{ section.settings.button_url }}" class="btn--small">{{ section.settings.button }}</a>
            </div>
        </div>
    </div>
  </div>

{% schema %}
{
  "name": "Bestsellers",
  "tag": "section",
  "class": "bestseller",
  "settings": [
    {
      "type": "color_background",
      "id": "left_bg",
      "label": "Bestseller left side image bg",
      "default": "linear-gradient(#ffffff, #000000)"
    },
    {
      "type": "image_picker",
      "id": "left",
      "label": "Bestseller left side image change"
    },
    {
      "type": "color_background",
      "id": "right_bg",
      "label": "Bestseller right side image bg",
      "default": "linear-gradient(#ffffff, #000000)"
    },
    {
      "type": "image_picker",
      "id": "right",
      "label": "Bestseller right side image change"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Bestseller subtitle change",
      "default": "Best seller"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Bestseller title change",
      "default": "TRULY, AN ALL IN ONE BARBELL"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Bestseller text change",
      "default": "Design that matches the performance and quality of other elite level competition bars"
    },
    {
      "type": "text",
      "id": "button",
      "label": "Bestseller button text change",
      "default": "Shop weights"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Bestseller button url change"
    }
  ],
  "presets": [
    {
        "name": "Bestsellers"
    }
  ]

}
{% endschema %}