{{ 'style.plp.css' | asset_url | stylesheet_tag }}
{{ 'style.product.css' | asset_url | stylesheet_tag }}

<div class="container">
    <h1 class="text-24">{{ section.settings.title }}</h1>
    {%- if section.blocks[0] -%}
        <ul class="collections">
            {% for block in section.blocks %}
                {% if block.type == "c-row" %}
                    {% assign item = block.settings.c_row %}
                    <li>
                        <a href="{{ item.url }}" class="collection {% if collection.title==item.title %} active {% endif %}"> <span class="collection__title">{{ item.title }}</span> <span class="slash"> / </span> </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {%- endif -%}
</div>

{% schema %}
{
    "name": "Collection heading",
    "class": "header",
    "settings": [
        {
        "type": "text",
        "id": "title",
        "label": "Change collection title here:"
        }
    ],
    "blocks": [
        {
            "type": "c-row",
            "name": "Collections row",
            "limit": 8,
            "settings": [
                {
                    "type": "collection",
                    "id": "c_row",
                    "label": "collection"
                }
            ]
        }
    ],
    "default": {
        "blocks": [
            {
                "type": "c-row"
            }
        ]
    }
}
{% endschema %}