{{ 'style.reviews.css' | asset_url | stylesheet_tag }}
<div class="container">
  <div class="products__grid grid-{{ section.settings.grid_column }}">
    {% for product in collection.products %}
      <div class="product">
        {% unless product.available %}<a href="#!" class="product--sold">Sold Out - Get notified when back in stock</a>{% endunless %}
        <div class="product__badges">
          {% if product.compare_at_price > product.price %}
            <p class="product__badge product__badge--sale">SALE</p>
          {% endif %}
          {% if product.metafields.accentuate.best_seller %}
            <p class="product__badge product__badge--bestseller">Best Seller</p>
          {% endif %}
          {% if product.metafields.accentuate.free_shipping %}
            <p class="product__badge">Free Shipping</p>
          {% endif %}
          {% if product.metafields.accentuate.pre_order %}
            <p class="product__badge product__badge--pre">Pre-Order</p>
          {% endif %}
        </div>
        <a href="{{ product.url | within: collection }}" class="product__img {% unless product.available %}opacity-half{% endunless %}">
          <img src="{{ product.featured_image.src | img_url: '443x554' }}" alt="{{ product.featured_image.alt | escape }}">
        </a>
        <a href="{{ product.url | within: collection }}" class="text-12 product__title">{{ product.title }}</a>
        <div class="ratings">
          <div class="yotpo bottomLine"
              data-appkey="AcLnJ04gr9fNkJwfCm8ldwPiyjPDUS8Gv31BiAAn"
              data-domain="{{shop.permanent_domain | escape }}"
              data-product-id="{{ product.id }}"
              data-product-models="{{ product.id }}"
              data-name="{{ product.title | escape }}"
              data-url="{{ shop.url }}{{ product.url }}"
              data-image-url="{{ product.featured_image | product_img_url: 'large' |replace: '?', '%3F' | replace: '&','%26'}}"
              data-description="{{ product.description | escape }}"
              data-bread-crumbs="{% for tag in product.tags %}{{ tag | escape }};{% endfor %}">
          </div>
        </div>
        <p class="text-12">
          {% if product.compare_at_price %}
            <span class="old_price">{{product.compare_at_price | money}}</span>
          {% endif %}
          <span>{{ product.price | money }}</span>
        </p>
        
      </div>
    {% else %}
      <p>No products in this collection yet!</p>
    {% endfor %}
  </div>
</div>
<script>
  window.addEventListener("DOMContentLoaded", e=>{
    setTimeout(function(params) {
      document.querySelectorAll(".product").forEach(el=>{
        if(!el.querySelector(".ratings .yotpo-stars")){
          el.querySelector(".ratings").innerHTML = `<div class="yotpo bottomline">
            <div class="yotpo-bottomline pull-left  star-clickable">  
              <span class="yotpo-stars"> 
                <span class="yotpo-icon yotpo-icon-empty-star pull-left"></span>
                <span class="yotpo-icon yotpo-icon-empty-star pull-left"></span>
                <span class="yotpo-icon yotpo-icon-empty-star pull-left"></span>
                <span class="yotpo-icon yotpo-icon-empty-star pull-left"></span>
                <span class="yotpo-icon yotpo-icon-empty-star pull-left"></span> 
              </span>      
            <div class="yotpo-clr"></div> </div></div><br>`
        }
      })
    }, 300)
  })
</script>
{% schema %}
{
  "name": "Products grid",
  "class": "collections",
  "settings": [
    {
      	"type": "select",
        "id": "grid_column",
        "label": "Grid column number",
        "options": [
          {
            "value": "1",
            "label": "1"
          },
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          }
        ],
        "default": "3"
    }
  ],
  "presets": [
    {
      "name": "Product grid"
    }
  ]
}
{% endschema %}